@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/Praia-da-Ferradura-Buzios-Rio-de-Janeiro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: sticky;
    width: 100vw;
}

header .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(64, 224, 208, 0.342);
    border: 5px solid rgba(2, 112, 101, 0.294);
    
}

header h1{
    font-family: 'Glory', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

header h3{
    font-family: 'Glory', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15rem;
}

section{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgba(254, 255, 255, 0.157);
    border-radius: 10px;
}


.sobre{
    margin-top: 3rem;
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
    width: 500px;
    height: 100%;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(70, 70, 70, 0.342);
}

.dados{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Glory', sans-serif;
}